@charset "UTF-8";
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
*, *:after, *:before {
  box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

a:visited {
  color: inherti;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
  line-height: 1.19;
  font-family: Roboto Mono for Powerline;
}

.title {
  color: #707070;
  font-size: 1.8rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

@media (max-width: 600px) {
  .title {
    margin-bottom: 60px;
  }
}

.title:after {
  display: inline-block;
  content: "";
  width: 6.4em;
  border-bottom: 1px solid;
  margin-left: 4.5rem;
}

.inner {
  margin: 0 auto;
  width: 83.3%;
  padding: 260px 0 70px;
}

@media (max-width: 959px) {
  .inner {
    padding-top: 200px;
  }
}

@media (max-width: 600px) {
  .inner {
    padding: 60px 0;
    width: 90%;
  }
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 68px 487px 77px 68px;
  width: 100%;
  position: absolute;
  z-index: 10;
}

@media (max-width: 959px) {
  header {
    justify-content: space-between;
    padding: 24px 20px;
    position: static;
  }
}

.hd-logo {
  font-size: 3.8rem;
  font-weight: bold;
  margin-right: 20px;
  white-space: nowrap;
}

@media (max-width: 959px) {
  .hd-logo {
    font-size: 2.2rem;
  }
}

@media (max-width: 959px) {
  nav {
    display: none;
  }
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
  color: #707070;
}

li:hover {
  text-decoration: underline;
  color: #000000;
}

li:not(:last-child) {
  margin-right: 20px;
}

@media (max-width: 959px) {
  .ham {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 16px;
    height: 14px;
  }
  .ham span {
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: #3B4043;
  }
  .ham span:nth-child(3) {
    width: 80%;
  }
}

.first-v {
  height: 100vh;
  width: 100%;
}

.first-v__wrap {
  position: absolute;
  top: 37%;
  left: 8.35%;
  height: 214px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  font-size: 3.8rem;
}

@media (max-width: 959px) {
  .first-v__wrap {
    color: #fff;
    flex-direction: column-reverse;
    position: absolute;
    top: 77%;
    left: 50%;
    transform: translate(-50%, 0);
    height: 160px;
    font-size: 3.2rem;
  }
}

@media (max-width: 600px) {
  .first-v__wrap {
    height: 118px;
    font-size: 2.8rem;
    min-width: 288px;
    position: absolute;
    top: 47%;
    text-shadow: 0  3px 16px #000;
  }
}

.catch-ja {
  font-family: ヒラギノ明朝 Pro,sans-serif;
}

.catch-en {
  font-family: Zapfino, sans-serif;
  line-height: 128px;
}

@media (max-width: 600px) {
  .catch-en {
    letter-spacing: 0.2rem;
    line-height: 95px;
  }
}

.bg-img {
  height: 100vh;
  width: 53.7%;
  background-image: url(../img/component.png);
  background-size: cover;
  position: absolute;
  right: 0%;
}

@media (max-width: 959px) {
  .bg-img {
    width: 100%;
  }
}

#concept {
  background: linear-gradient(180deg, #A193861F 0%, #A193861F 42%, #A1938689 42%, #A1938689 100%);
}

.concept-img {
  width: 100%;
  height: 413px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

@media (max-width: 959px) {
  .concept-img {
    height: 205px;
    margin-bottom: 50px;
  }
}

.concept-img__img1 {
  background-image: url(../img/component-2.png);
  background-size: cover;
  width: 62.7%;
  height: 100%;
}

@media (max-width: 600px) {
  .concept-img__img1 {
    width: 49%;
    background-position: 70%;
  }
}

.concept-img__img2 {
  background-image: url(../img/component-3.png);
  background-size: cover;
  width: 36.3%;
}

@media (max-width: 600px) {
  .concept-img__img2 {
    width: 49%;
  }
}

.concept-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

@media (max-width: 959px) {
  .concept-wrap {
    display: block;
    text-align: center;
  }
}

.concept-wrap .catch-ja {
  font-size: 4rem;
  white-space: nowrap;
  letter-spacing: 2.5rem;
}

@media (max-width: 959px) {
  .concept-wrap .catch-ja {
    font-size: 1.8rem;
    letter-spacing: 1rem;
    margin-bottom: 20px;
  }
}

.concept-wrap .concept-text {
  width: 45.7%;
  font-family: ヒラギノ角ゴ Pro, sans-serif;
  line-height: 1.69;
  text-align: justify;
}

@media (max-width: 959px) {
  .concept-wrap .concept-text {
    font-size: 1.6rem;
    width: 100%;
  }
}

.menu-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 959px) {
  .menu-wrap {
    flex-direction: column;
  }
}

.menu-item {
  width: 271px;
}

@media (max-width: 959px) {
  .menu-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 600px) {
  .menu-item {
    width: 100%;
    display: block;
  }
}

@media (max-width: 600px) {
  .menu-item:not(:nth-child(3)) {
    margin-bottom: 63px;
  }
}

.menu-item .item-img {
  width: 100%;
  height: 271px;
  margin-bottom: 37px;
}

@media (max-width: 959px) {
  .menu-item .item-img {
    width: 271px;
  }
}

@media (max-width: 600px) {
  .menu-item .item-img {
    width: 100%;
    height: 271px;
    overflow: hidden;
  }
}

.menu-item .item-img img {
  width: 100%;
}

.menu-item .item-content {
  padding: 0 10px;
}

@media (max-width: 959px) {
  .menu-item .item-content {
    width: 350px;
    margin-left: auto;
  }
}

@media (max-width: 600px) {
  .menu-item .item-content {
    margin: 0 auto;
    min-width: 300px;
    width: 90%;
  }
}

.menu-item .item-content__title {
  font-size: 3rem;
  margin-bottom: 34px;
  text-align: center;
}

@media (max-width: 959px) {
  .menu-item .item-content__title {
    text-align: left;
  }
}

.menu-item .item-content__text {
  margin-bottom: 34px;
  text-align: justify;
}

.menu-item .item-content__price {
  text-align: right;
}

#access {
  background-color: #A193861F;
}

#access .inner {
  width: 100%;
}

#access .inner .title {
  margin-left: 107px;
}

@media (max-width: 600px) {
  #access .inner .title {
    margin-left: 20px;
  }
}

#access .inner .access-wrap {
  height: 396px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 600px) {
  #access .inner .access-wrap {
    flex-direction: column-reverse;
    height: 513px;
  }
}

.adress {
  background-color: #D0C5BA;
  width: 39.5%;
  height: 100%;
  position: relative;
}

@media (max-width: 600px) {
  .adress {
    width: 100%;
  }
}

.adress-content {
  position: absolute;
  top: 101px;
  left: 20.5%;
}

@media (max-width: 600px) {
  .adress-content {
    position: absolute;
    top: 30px;
    left: 20px;
  }
}

.adress-content__name {
  margin-bottom: 20px;
  color: #00000038;
  font-size: 24px;
  font-weight: bold;
}

.adress-content__indeed {
  line-height: 2.5;
  color: #ffffff;
}

.map {
  width: 60.5%;
  height: 100%;
}

@media (max-width: 600px) {
  .map {
    width: 100%;
    height: 230px;
  }
}

.map iframe {
  height: 100%;
  width: 100%;
}

footer {
  padding: 164px 0 62px 0;
  width: 83.3%;
  margin: 0 auto;
}

@media (max-width: 959px) {
  footer {
    padding: 63px 20px 20px;
    width: 90%;
  }
}

footer .line {
  width: 100%;
  border-bottom: 2px solid #70707036;
  margin-bottom: 83.5px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 959px) {
  .footer-content {
    flex-direction: column-reverse;
    height: 117px;
  }
}

.footer-content h1 {
  color: #70707036;
  font-size: 3.2rem;
  margin-right: 0.5em;
}

@media (max-width: 959px) {
  .footer-content h1 {
    font-size: 1.8rem;
  }
}

.footer-content a {
  display: block;
  font-size: 1.8rem;
  color: #707070;
  border: 1px solid;
  padding: 10px 41px;
  margin: 0 auto;
  width: 184px;
  text-align: center;
}

.fab {
  font-size: 2.5rem;
}

.footer-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media (max-width: 959px) {
  .footer-wrap {
    display: flex;
    justify-content: space-between;
  }
}
/*# sourceMappingURL=main.css.map */